@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,body {
    background-image: url("images/light_toast.png");
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #555;
}

#header-container {
	width: 535px;
	margin: 0 auto;
	padding-top: 30px;
	height: 30px;
}

#wrapper{
   text-align: center;
   margin-top: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#topbar {
	top: 0;
	height: 100px;
	width: 100%;
	color: #555;
}

#topbar * {
	margin-top: 0;
}

#topbar h1 {
	float: left;
	font-family: 'Open Sans', sans-serif;
}

#nav {
	line-height: 3;
}

#nav ul {
	width: 50%;
	float: right;	
}

#nav ul li {
	display: inline;
}

#nav ul li a{
	color: #555;
	padding: 10px;
	margin-left: 10px;
	font-weight: bold;
	border-radius: 3px;
	text-decoration: none;
	border: 2px solid #555;
}

#nav ul li a:hover {
	text-decoration: none;
	background-color: #eee;
	box-shadow: 0px 0px 1px 0px #999;
}

#container {
	width: 500px;
	margin: 0 auto;
	min-height: 350px;
	overflow: auto;
}

#upload-form {
	width: 45%;
	float: left;
	background-color: #eee;
	border: 3px dashed #555;
}

#file-form {
	background-color: #eee;
	font-weight: bold;
	border: none;
}

#upload-form .dz-default {
	padding: 20px;
	color: #555;
}

#submit-all {
	background-color: #eee;
	border: 3px solid #444;
	padding: 15px;
	color: #555;
	margin: 0 0 10px 0;
	float: right;
	font-weight: bold;
	width: 51%;
}

#submit-all:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #BEC5B7;
	box-shadow: 0px 0px 1px 0px #999;
}

#upload-information {
	width: 50%;
	min-height: 105px;
	max-height: 350px;
	float: right;
	margin: 0 auto;
	overflow-y: auto;
	border: 3px solid #555;
	background-color: #eee;
}

.dz-preview{
	background-color: #eaeaea;
	margin: 10px;
	min-height: 50px;
	border: 2px solid #e5e5e5;
	padding: 10px;
}

.dz-image img {
	width: 50px;
	height: 50px;
	border: 2px solid #555;
	float: left;
}

.dz-size {
	font-size: 10px;
}

.dz-preview.dz-error {
	border: 2px solid #511C12;
	background-color: #5B4946;
	color: #eee;
}

.dz-preview.dz-error img {
	display: none;
}

.dz-error-message {
	font-weight: bold;
}

.dz-preview .dz-details .dz-filename {
	white-space: nowrap; 
}

.dz-preview .dz-details .dz-filename {
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis; 
}

.dz-drag-hover {
	background-color: #ddd;
}

.dz-message {
	padding: 50px;
	cursor: pointer;
}

.dz-started .dz-message {
	display: none;
}

.dz-preview svg {
	display: none;
}

/* 
 * Image Page
 * 
 */

#container.image {
	width: 500px;
	padding: 4px;
}

#container.image img {
	border: 2px solid #511C12;
}




