<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>

    <body>

		<div id="topbar">
			<div id="header-container">
				<h1>Image Host</h1>
				<div id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/">Popular Uploads</a></li>
					</ul>
				</div>
			</div>
		</div>
	

		<div id = "wrapper">
			{% block body %}
			{% endblock %}
		</div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='nanoAJAX.min.js') }}"></script>
	<script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>
</html>
