{% extends "base.html" %}

{% block title %}Upload!{% endblock %}
{% block body %}

	<div id="container">

		<div id="upload-form">

			<form id="file-form" class="dropzone" action="/api/upload" method="POST">
				<div class="dz-message" data-dz-message>
					<span>Drag images or click here to upload</span>
				</div>
			</form>

		</div>

		<button id="submit-all">Upload Files</button>

		<div id="upload-information">

			<div id="file-list" class="dropzone-previews">
				<h4>Files Queued To Upload</h4>
			</div>
		</div>

	</div>
{% endblock %}
