{% extends "base.html" %}

{% block title %}Upload!{% endblock %}
{% block body %}

	<div id="container">

		<div id="upload-form">

			<form id="file-form" class="dropzone" action="/api/upload" method="POST">
				<div class="dz-message" data-dz-message>
					<span>Drag images or click here to upload</span>
				</div>
			</form>

		</div>

		<button id="submit-all">Upload Files</button>

		<div id="upload-information">

			<div id="file-list" class="dropzone-previews">
				<h4>Files Queued To Upload</h4>
			</div>

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="bold center p2 white bg-{{ category }} rounded m1" style="display: inline-block;">
							{{ message }}
						</div><br/>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

	</div>
{% endblock %}
