{% extends "base.html" %}

{% block title %}Upload!{% endblock %}
{% block body %}

	<div id="container">

		<div id="upload-form">

			<form id="file-form" class="dropzone" action="/api/upload" method="POST">
				<label for="file" class="upload-label">
					<p class="upload-button">Upload</p>
				</label>
				<input type="file" multiple="" name="file" id="file" class="upload-button">
				<input type="submit" value="Upload Image(s)" name="uploadBtn" id="uploadBtn" class="button m1">
			</form>
		</div>

		<div id="upload-information">
			<div id="file-list">
			</div>

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="bold center p2 white bg-{{ category }} rounded m1" style="display: inline-block;">
							{{ message }}
						</div><br/>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

	</div>
{% endblock %}
